<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="News"
                      transaction-type="RESOURCE_LOCAL">
        <class>ru.sec2.news.entity.News</class>
    </persistence-unit>
</persistence>
